//PRIMARY

$primary-color-first-layer: #333333;
$primary-color-second-layer: #ffffff;
$primary-color-third-layer: #e1f4f3;
$primary-color-fourth-layer: #706c61;

//FONT-BASIC

$color-white: #fff;
$color-black: #000;
$color-grey: #eee;

//MISC

$color-button: #1b8c8f;

//PADDINGS

//BREAKPOINTS

$breakpoint-tablet: 1024px;
