.header{
    border-radius: 5px;
    background-color: $primary-color-third-layer;
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 7rem;
    color: $primary-color-first-layer;

    &__logo{
        font-size: 8.5rem;
    }

    & h2{
        font-size: 3rem;
    }

    @include respond(tablet-land){
        margin-top: 4rem;
    }
}