<%- include("header") -%>

<div class="article-container__hotline">
    <div class="article-container__hotline-image-container">
        <img src="/img/not_found_img.jpg.png" alt="Hotline Image" class="article-container__hotline-image">
    </div>
    <div class="article-container__hotline-details">
        <h1 class="article-container__hotline-title">It seems like this link does not exist.</h1>
        <p class="article-container__hotline-summary">
            The HTTP 404, 404 Not Found, 404, 404 Error, Page Not Found, File Not Found, or Server Not Found error message is a Hypertext Transfer Protocol (HTTP) standard response code, in computer network communications, to indicate that the browser was able to communicate with a given server, but the server could not find what was requested. The error may also be used when a server does not wish to disclose whether it has the requested information.
        </p>
        <a href="/" class="button button--article">Visit our homepage</a>
    </div>
</div>

<%- include("footer") -%>