<footer class="footer">
    <ul class="footer__options-list">
        <li><a href="/" class="footer__option">Homepage</a></li>
    </ul>
    <svg class="footer__logo">
        <use xlink:href="img/sprite.svg#icon-globe"></use>
    </svg>
</footer>
<script src="/javascript/search.js"></script>
<script src="/javascript/top_shortcut.js"></script>
</body>
</html>